@define-color bg #1a1b1f;
@define-color fg #eff2f5;
@define-color gray1 #9eafc0;
@define-color gray2 #8a8c94;
@define-color gray3 #7b8da3;
@define-color gray4 #a8b6c4;
@define-color gray5 #a6b1bf;
@define-color fg_bright #eff2f5;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}